@import "https://fonts.googleapis.com/css?family=Press Start 2P";

#my-div {
  margin: 0 auto;
}
.game-box {
  background-size: cover;

  width: 1600px;
  height: 1000px;
  font-family: "Press Start 2P";

  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 999;
}

#samurai {
  font-family: "Press Start 2P";
  background-color: white;
  background-size: cover;
  z-index: -1;

  width: 1600px;
  height: 1000px;
  border: 1px solid black;
  border-radius: 10px;
}
/*
.leftredbox {
  position: absolute;
  width: 100px; 
  height: 200px; 
  border: red;
  background-color: red;
  z-index: 2;
  opacity: 0.2;
  top: 66%;
  left: 42%;
  border-radius: 30px;

}
.rightredbox {
  position: absolute;
  width: 100px; 
  height: 200px; 
  border: red;
  background-color: red;
  z-index: 2;
  opacity: 0.2;
  top: 66%;
  left: 50%;
  border-radius: 30px;

}
*/

body {
  font-family: "Press Start 2P";
  font-size: 22px;
}
.fight {
  /* background:url(../images/fight.png); */

  border-radius: 8px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.title {
  font-family: "Press Start 2P";
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 50px;
  left: 43%;
}

.retry {
  border-radius: 4px;
  font-family: "Press Start 2P";
  background-color: black;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
  width: 500px;
  height: 100px;
}

.retry:hover {
  background-color: #4caf50;
  color: white;
}

.whole {
  margin: 0 auto;
  zoom: 50%;
  background-color: black;
  overflow: hidden;
}
.subheader {
  color: white;
  position: absolute;
  width: 600px;
  left: 89.5%;
  top: 1%;
  a {
    position: relative;
  }
  p {
    margin-left: 40px;
  }
}

.git-image {
  width: 2%;
  display: flex;
  position: absolute;
  top: 5%;
  left: 96%;
}

.linkedin-image {
  width: 2%;
  display: flex;
  position: absolute;
  top: 5%;
  left: 93%;
}

.angelist-image {
  width: 2%;
  display: flex;
  position: absolute;
  top: 5%;
  left: 90%;
}

.left-summary {
  width: 500px;
  font-size: 20px;
  display: flex;
  color: white;
  margin-top: 250px;
  margin-left: 125px;
  p {
    margin-top: 50px;
  }
}
.right-summary {
  display: flex;
  color: white;
  width: 500px;
  font-size: 20px;
  padding-top: 245px;
  padding-left: 75px;

  p {
    margin-top: 50px;
  }
}

.container {
  display: flex;
  justify-content: center;
}
